:root {
  --color\/red\/200: #AA101B;
  --color\/red\/300: #C91C29;
  --color\/red\/500: #E63946;
  --color\/red\/600: #FF636E;
  --color\/neutral\/000: #0D0D0D;
  --color\/neutral\/100: #1A1A1A;
  --color\/neutral\/200: #2E2E2E;
  --color\/neutral\/600: #A3A3A3;
  --color\/neutral\/700: #C8C8C4;
  --color\/neutral\/800: #D9D9D9;
  --color\/neutral\/900: #F8F8F6;
  --color\/white: #FFF;
  --surface\/default: var(--color\/neutral\/000);
  --surface\/light: var(--color\/off-white);
  --color\/off-white: #F5F5F3;
  --background: var(--color\/neutral\/800);
  --brand\/accent: var(--color\/red\/500);
  --light-text: var(--color\/white);
  --card-background: var(--color\/white);
  --background-dark: var(--color\/neutral\/200);
  --color\/green: #059669;
  --3xs: 2;
  --2xs: 4;
  --xs: 8;
  --sm: 12;
  --md: 16;
  --lg: 20;
  --xl: 24;
  --2xl: 32;
  --3xl: 40;
  --4xl: 48;
  --5xl: 64;
  --6xl: 80;
  --7xl: 96;
  --8xl: 112;
  --9xl: 128;
  --10xl: 144;
  --hacks-to-fit-scale\/3: 3;
  --hacks-to-fit-scale\/6: 6;
  --hacks-to-fit-scale\/7: 7;
  --hacks-to-fit-scale\/9: 9;
  --hacks-to-fit-scale\/10: 10;
  --hacks-to-fit-scale\/14: 14;
  --hacks-to-fit-scale\/5p5: 5.5;
  --hacks-to-fit-scale\/7p5: 7.5;
  --hacks-to-fit-scale\/8p5: 8.5;
  --hacks-to-fit-scale\/9p5: 9.5;
  --hacks-to-fit-scale\/15p5: 15.5;
  --white\/alpha-0: #FFF0;
  --white\/alpha-001: #FFF0;
  --white\/alpha-333: #FFFFFF08;
  --white\/alpha-5: #FFFFFF0D;
  --white\/alpha-10: #FFFFFF1A;
  --white\/alpha-15: #FFFFFF26;
  --white\/alpha-20: #FFF3;
  --white\/alpha-30: #FFFFFF4D;
  --white\/alpha-40: #FFF6;
  --white\/alpha-50: #FFFFFF80;
  --white\/alpha-60: #FFF9;
  --white\/alpha-70: #FFFFFFB2;
  --white\/alpha-80: #FFFC;
  --white\/alpha-90: #FFFFFFE5;
  --white\/alpha-95: #FFFFFFF2;
  --white\/alpha-100: #FFF;
  --black\/alpha-0: #0000;
  --black\/alpha-001: #0000;
  --black\/alpha-333: #00000008;
  --black\/alpha-5: #0000000D;
  --black\/alpha-10: #0000001A;
  --black\/alpha-15: #00000026;
  --black\/alpha-20: #0003;
  --black\/alpha-30: #0000004D;
  --black\/alpha-40: #0006;
  --black\/alpha-50: #00000080;
  --black\/alpha-60: #0009;
  --black\/alpha-70: #000000B2;
  --black\/alpha-80: #000C;
  --black\/alpha-90: #000000E5;
  --black\/alpha-95: #000000F2;
  --black\/alpha-100: #000;
  --rounded-none: 0;
}

